        <div class="topHeaderSection">		
            <div class="container">
                <div class="header"></div>			
                <div class="navbar-header">
                    <a href="/"><img src="images/logo.png" alt="Debutsav ''14, Kerala" /></a>
                </div>
            </div>
        </div>

        <h2>You have been registered succesfully. Click on the Logo above to go back to home page</h2>
